@import '~normalize.css';
@import 'variables.scss';
* {
    font-family: $main-font;
    font-weight: bold;
}

.button {
    border-radius: unset;
    color: $light-background; 
    height: 50px;
    font-weight: 700;
}